$primary: #fcb92d;

body {
  background: rgb(250,250,250);
}

//-----------------------------------------------------------------------
//---------------------|| SECTION
.parallax {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
}

.section {
  width: 100%;
  height: 100vh;
}
.titles {
  margin-top: 50px;
  margin-bottom: 100px;
  h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    strong {
      color: $primary;
    }
    &:after {
      content: ".";
      color: $primary;
      font-size: 50px;
      padding-left: 5px;
    }
  }
}
.title_line {
  background:url("../img/title_line.png") no-repeat; width:1168px; height:2px; text-align: center; margin-top: -8px;position: absolute;
}
.title_line_services {
  background:url("../img/s_read_more.png") no-repeat; width:50px; height:22px; margin:0 auto; text-align: center;
}
.black-line-top { margin-top: 28px; margin-bottom: 2px; background: #000; width: 52px; height: 1px; }
.black-line-bottom { margin-bottom: 20px; margin-top: 2px; background: #000; width: 52px; height: 1px; }

//-----------------------------------------------------------------------
//---------------------|| HOME
.home {
  position: relative;
  #logo {
    position: absolute;
    top: 8%;
    left: 7%;
    img {
      width: 30%;
    }
  }
  #text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    #title {
      text-transform: uppercase;
      font-size: 60px;
    }
    p {
      font-size: 24px;
      font-weight: 100;
    }
  }
}
.home-bg {
  background-image: url('../img/slide.jpg');
  background-size: cover;
}
.header-pattern {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,.9)0%, rgba(0,0,0,1) 100%), url("../img/pattern-01.png") repeat;
  opacity: .9;
}

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: none;
  border: none;
  box-shadow: none;
  margin-top: 50px;
  z-index: 10000;

  .nav > li {
    a {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      text-shadow: none;
      font-size: 17px;
      color: white;
      text-transform: uppercase;

      &:hover,
      &:focus {
        background: none;
        box-shadow: none;
        color: $primary;
      }
    }
  }
  .nav > .active a,
  .nav > .active a:hover,
  .nav > .active a:focus {
    background: none;
    box-shadow: none;
    color: $primary;
  }
}

//-----------------------------------------------------------------------
//---------------------|| ABOUT
.about {
  padding-top: 80px;
  .text {
    padding-bottom: 100px;
    padding-right: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
  }
  .signature {
    padding-top: 30px;
    width: 100%;
    text-align: right;
    img {
      width: 40%;
    }
  }
}
.tpl-progress {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-top: 10px;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: visible;
  height: 2px;
  background: #F0F0F0;
  .progress-bar{
    padding-top: 2px;
    position: relative;
    overflow: visible;
    background: black;
    font-size: 13px;
    color: black;
    text-align: left;
    &> span{
      display: inline-block;
      min-width: 24px;
      height: 24px;
      padding: 0 3px;
      position: absolute;
      top: 0px;
      right: -5px;

      text-align: center;
      line-height: 23px;
      letter-spacing: 0;

    }
  }
}

//-----------------------------------------------------------------------
//---------------------|| BANNER
.banner {
  padding-top: 15vh;
  .banner-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%),
      url("../img/footer-bg.jpg") no-repeat;
    background-repeat: repeat;
    height: 70vh;
    .txt-banner {
      .titles {
        h2 {
          color: white;
          padding-top: 50px;
          padding-bottom: 30px;
        }
        p {
          font-size: 22px;
          font-family: 'Yanone Kaffeesatz', sans-serif;
          color: white;
          font-weight: 200;
          span {
            color: $primary;
            font-weight: bold;
          }
        }
      }
    }
    .img-banner {
      margin-top: -30px;
      img {
        width: 100%;
      }
    }
  }
}

//-----------------------------------------------------------------------
//---------------------|| CLIENTS
.timeline {
  padding-top: 10vh;
  .timeline-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 0%,
      rgba(0, 0, 0, 0.75) 100%),
      url("../img/client-bg.jpg") no-repeat;
    background-size: cover;
    height: 80vh;
    .titles {
      margin-bottom: 70px;
      h2 {
        color: white;
      }
    }
    .text {
      text-align: center;
      .icon-text {
        margin: 0 auto;
        width: 41px;
        height: 41px;
        background: url('../img/coma.png');
        background-repeat: no-repeat;
      }
      p {
        padding: 0 100px;
        font-size: 18px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: white;
      }
    }
    .logo {
      padding-top: 60px;
      .column-logo {
        text-align: center;
        img {
          width: 90%;
          &:hover {
            opacity: .6;
          }
        }
      }
    }
  }
  .education {
  	padding: 50px 0;
  	margin: 50px 0;
    .line {
    	border-bottom: 1px dashed white;
    	position: relative;
    	margin: 0 18px;
    	padding-bottom: 12px;
    	margin-bottom: 24px;
    	position: relative;
    	top: -1px;
      &:before {
      	display: block;
      	content: '';
      	width: 14px;
      	height: 14px;
      	background: #fff;
      	border: 4px solid $primary;
      	border-radius: 100%;
      	position: absolute;
      	left: -18px;
      	bottom: -7px;
      }
      &:after {
      	display: block;
      	content: '';
      	width: 14px;
      	height: 14px;
      	background: #fff;
      	border: 4px solid $primary;
      	border-radius: 100%;
      	position: absolute;
      	right: -18px;
      	bottom: -7px;
      }
    }
    .item {
    	width: 25%;
    	float: left;
    	position: relative;
    	text-align: center;
    	color: white;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      .year {
      	font-size: 16px;
      	line-height: 26px;
      	font-weight: 700;
      	position: relative;
      	bottom: -44px;
      	left: 0;
      	right: 0;
      	margin: 0 auto;
        color: white;
      }
      .marker {
      	width: 22px;
      	height: 22px;
      	background: #fff;
      	border: 6px solid $primary;
      	position: absolute;
      	top: 0;
      	left: 50%;
      	margin-left: -11px;
      	box-shadow: 0 2px 6px rgba(0,0,0,.25);
      	z-index: 2;
      }
      .content {
      	background: rgba(155,155,155,.4);
      	box-shadow: 0 2px 4px rgba(0,0,0,.9);
      	padding: 24px;
      	position: absolute;
      	top: -132px;
      	left: 0;
      	right: 0;
      	margin: 0 12px;
        &:after {
        	content: '';
        	width: 0;
        	height: 0;
        	border-style: solid;
        	border-width: 18px 0 0 18px;
        	border-color: transparent transparent transparent transparent;
        	box-shadow: -2px 2px 4px rgba(0,0,0,.15);
        	position: absolute;
        	bottom: -9px;
        	left: 50%;
        	margin-left: -9px;
        	-webkit-transform: rotate(-45deg);
        	-ms-transform: rotate(-45deg);
        	transform: rotate(-45deg);
        }
        span {
        	font-size: 13px;
        	line-height: 26px;
        	margin-bottom: 12px;
        	text-transform: uppercase;
        }
        h4 {
        	line-height: 26px;
        	margin-bottom: 0;
        }
      }
    }
    .item:nth-child(even) .content {
    	top: auto;
    	bottom: -132px;
    }
    .item:nth-child(even) .content:after {
    	border-width: 0 18px 18px 0;
    	border-color: transparent transparent transparent transparent;
    	box-shadow: none;
    	position: absolute;
    	top: -9px;
    	bottom: auto;
    }
    .item:nth-child(even) .year {
    	top: -44px;
    	bottom: auto;
    }
  }
}


//-----------------------------------------------------------------------
//---------------------|| WORKS SLIDER
.works {
  padding-top: 20vh;
  .text {
    .titles {
      text-align: right;
      h2 {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      p {
        font-size: 18px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 200;
        padding-left: 30px;
      }
    }
  }
}

.carousel-control {
  top: 40% !important;
  height: 60px;
  width: 60px;
  opacity: .2;
}

.carousel-control.left  {
  background: rgba(0,0,0,.2);
  transform: rotate(45deg);
}
.carousel-control.right {
  background: rgba(0,0,0,.2);
  transform: rotate(45deg);
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  color: $primary;
  transform: rotate(-45deg);
}
.carousel-indicators {
  bottom: 0;
}
.carousel-indicators li {
  border: 1px solid #DDD;
  background-color: #DDD;
}
.carousel-indicators .active {
  background-color: $primary !important;
  border: 1px solid $primary;
}

//-----------------------------------------------------------------------
//---------------------|| CONTACT
.contact {
  .info {
    padding-top: 80px;
    padding-bottom: 180px;
    .col-md-4 {
      .contact-item {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: #111;
        .icons {
          width: 33px;
          height: 33px;
          position: absolute;
          top: 10px;
          left: 3px;
          color: #fff;
          text-align: center;
          line-height: 23px;
          &:before{
            content: " ";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0,.1);

            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);

          }
          .glyphicon {
            padding-top: 5px;
            font-size: 18px;
            color: $primary;
          }
        }
        .title {
          padding-top: 0px;
          padding-left: 40px;
          margin-bottom: 1px;
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.3em;
        }
        .text {
          padding-top: 10px;
          padding-left: 40px;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0.1em;
        }
      }
      &:hover .contact-item .title {
        display: block; margin: 0 auto; position: relative;
        -webkit-animation: iconFloat 0.8s infinite linear;
        -moz-animation: iconFloat 0.8s infinite linear;
        -ms-animation: iconFloat 0.8s infinite linear;
        -o-animation: iconFloat 0.8s infinite linear;
        animation: iconFloat 0.8s infinite linear;
      }
    }
  }
}

#mapa {
  height: 400px;
  border-top: 4px solid $primary;
  border-bottom: 6px solid white;
}

//-----------------------------------------------------------------------
//---------------------|| FOOTER
footer {
  background: $primary;
  border-top: 2px solid white;
  color: white;
  padding-bottom: 5px;

  h5 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    &:after {
      content: ".";
      color: black;
      font-size: 50px;
      padding-left: 5px;
    }
  }
  p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 800;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
  }

}

@-webkit-keyframes iconFloat {
  0% { top: 0; }
  50% { top: 10px; }
  100% { top: 0; }
}
@-moz-keyframes iconFloat {
  0% { top: 0; }
  50% { top: 10px; }
  100% { top: 0; }
}
@-o-keyframes iconFloat {
  0% { top: 0; }
  50% { top: 10px; }
  100% { top: 0; }
}
@keyframes iconFloat {
  0% { top: 0; }
  50% { top: 10px; }
  100% { top: 0; }
}


/***************************************************************
****************************| SOCIAL ICONS |********************/
ul.social-icons {
  display: block;
  list-style-type: none;
  padding: 0;
  text-align: center;
  li {
    padding: 0;
    float: none;
    margin: 5px 0;
    text-align: center;
    display: inline-block;
    a {
      background-image: url(../img/social-icons.png);
      background-repeat: no-repeat;
      float: left;
      display: block;
      width: 32px;
      height: 32px;
      -webkit-transition: border .2s ease;
      -moz-transition: border .2s ease;
      transition: border .2s ease;
    }
  }

}
ul.social-icons.dark li a {
  background-image: url(../img/social-icons.png);
}
ul.social-icons li.googlePlus a { background-position: 0 0; }
ul.social-icons li.facebook a { background-position: -30px 0; }
ul.social-icons li.twitter a { background-position: -60px 0; }
ul.social-icons li.pinterest a { background-position: -90px 0; }
ul.social-icons li.instagram a { background-position: -120px 0; }
ul.social-icons li.youtube a { background-position: -150px 0; }
ul.social-icons li.vimeo a { background-position: -180px 0; }
ul.social-icons li.flickr a { background-position: -210px 0; }
ul.social-icons li.linkedIn a { background-position: -240px 0; }

ul.social-icons li.googlePlus a:hover {
  background-position: 0 -30px;
  background-color: #ce2e1a;
  border: 1px solid #ce2e1a;
}

ul.social-icons li.facebook a:hover {
  background-position: -30px -30px;
  background-color: #3c599b;
  border: 1px solid #3c599b;
}

ul.social-icons li.twitter a:hover {
  background-position: -60px -30px;
  background-color: #55acee;
  border: 1px solid #55acee;
}

ul.social-icons li.pinterest a:hover {
  background-position: -90px -30px;
  background-color: #cb2027;
  border: 1px solid #cb2027;
}

ul.social-icons li.instagram a:hover {
  background-position: -120px -30px;
  background-color: #8d684e;
  border: 1px solid #8d684e;
}

ul.social-icons li.youtube a:hover {
  background-position: -150px -30px;
  background-color: #c3181e;
  border: 1px solid #c3181e;
}

ul.social-icons li.vimeo a:hover {
  background-position: -180px -30px;
  background-color: #5289cc;
  border: 1px solid #5289cc;
}

ul.social-icons li.flickr a:hover {
  background-position: -210px -30px;
  background-color: #ea0e7b;
  border: 1px solid #ea0e7b;
}

ul.social-icons li.linkedIn a:hover {
  background-position: -240px -30px;
  background-color: #0073b2;
  border: 1px solid #0073b2;
}
@media screen and (max-width: 640px){
  ul.social-icons {
    margin-top: 5px;
  }
}


#backtotop {
	cursor : pointer;
	display : none;
	position : fixed;
	bottom : 15px;
  right: 15px;
	filter : alpha(opacity=50);
	opacity : .5;
  z-index: 10;
  &:hover {
  	filter : alpha(opacity=100);
  	opacity : 1;
  }
}

/*
@media all and (max-width: 768px) {
	.education {
		position: relative;
		padding: 0;
		margin: 18px 0;
		margin-bottom: 42px;
	}
	.education .item {
		width: 100%;
		float: none;
		margin-bottom: 24px;
	}
	.education .item:last-of-type {
		margin-bottom: 0;
	}
	.education .item .content {
		position: static;
	}
	.education .line {
		border-bottom: none;
		border-left: 1px dashed #232323;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 1px;
		margin: 0;
		padding: 0;
	}
	.education .line:before {
		top: -18px;
		bottom: -7px;
		left: -7px;
	}
	.education .line:after {
		right: auto;
		bottom: -18px;
		left: -7px;
	}
	.education .item .content {
		padding: 24px;
		position: static;
		margin: 0;
		margin-left: 36px;
	}
	.education .item .marker {
		position: absolute;
		top: 50%;
		left: 0;
		margin-left: -11px;
		margin-top: -27px;
	}
	.education .item .content:after {
		border-width: 18px 0 0 18px;
		border-color: transparent transparent transparent #fff;
		box-shadow: -1px 2px 2px rgba(0,0,0,.15);
		bottom: auto;
		left: 36px;
		top: 50%;
		margin-top: -25px;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.education .item:nth-child(even) .content:after {
		border-width: 18px 0 0 18px;
		border-color: transparent transparent transparent #fff;
		box-shadow: -1px 2px 2px rgba(0,0,0,.15);
		bottom: auto;
		left: 36px;
		top: 50%;
		margin-top: -25px;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.education .item .year {
		position: static;
		margin: 0 auto;
		padding-left: 36px;
		margin-top: 6px;
	}
}*/
