body {
  background: #fafafa; }

.parallax {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important; }

.section {
  width: 100%;
  height: 100vh; }

.titles {
  margin-top: 50px;
  margin-bottom: 100px; }
  .titles h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif; }
    .titles h2 strong {
      color: #fcb92d; }
    .titles h2:after {
      content: ".";
      color: #fcb92d;
      font-size: 50px;
      padding-left: 5px; }

.title_line {
  background: url("../img/title_line.png") no-repeat;
  width: 1168px;
  height: 2px;
  text-align: center;
  margin-top: -8px;
  position: absolute; }

.title_line_services {
  background: url("../img/s_read_more.png") no-repeat;
  width: 50px;
  height: 22px;
  margin: 0 auto;
  text-align: center; }

.black-line-top {
  margin-top: 28px;
  margin-bottom: 2px;
  background: #000;
  width: 52px;
  height: 1px; }

.black-line-bottom {
  margin-bottom: 20px;
  margin-top: 2px;
  background: #000;
  width: 52px;
  height: 1px; }

.home {
  position: relative; }
  .home #logo {
    position: absolute;
    top: 8%;
    left: 7%; }
    .home #logo img {
      width: 30%; }
  .home #text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif; }
    .home #text #title {
      text-transform: uppercase;
      font-size: 60px; }
    .home #text p {
      font-size: 24px;
      font-weight: 100; }

.home-bg {
  background-image: url("../img/slide.jpg");
  background-size: cover; }

.header-pattern {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, black 100%), url("../img/pattern-01.png") repeat;
  opacity: .9; }

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: none;
  border: none;
  box-shadow: none;
  margin-top: 50px;
  z-index: 10000; }
  .navbar .nav > li a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-shadow: none;
    font-size: 17px;
    color: white;
    text-transform: uppercase; }
    .navbar .nav > li a:hover, .navbar .nav > li a:focus {
      background: none;
      box-shadow: none;
      color: #fcb92d; }
  .navbar .nav > .active a,
  .navbar .nav > .active a:hover,
  .navbar .nav > .active a:focus {
    background: none;
    box-shadow: none;
    color: #fcb92d; }

.about {
  padding-top: 80px; }
  .about .text {
    padding-bottom: 100px;
    padding-right: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: justify; }
  .about .signature {
    padding-top: 30px;
    width: 100%;
    text-align: right; }
    .about .signature img {
      width: 40%; }

.tpl-progress {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-top: 10px;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: visible;
  height: 2px;
  background: #F0F0F0; }
  .tpl-progress .progress-bar {
    padding-top: 2px;
    position: relative;
    overflow: visible;
    background: black;
    font-size: 13px;
    color: black;
    text-align: left; }
    .tpl-progress .progress-bar > span {
      display: inline-block;
      min-width: 24px;
      height: 24px;
      padding: 0 3px;
      position: absolute;
      top: 0px;
      right: -5px;
      text-align: center;
      line-height: 23px;
      letter-spacing: 0; }

.banner {
  padding-top: 15vh; }
  .banner .banner-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%), url("../img/footer-bg.jpg") no-repeat;
    background-repeat: repeat;
    height: 70vh; }
    .banner .banner-bg .txt-banner .titles h2 {
      color: white;
      padding-top: 50px;
      padding-bottom: 30px; }
    .banner .banner-bg .txt-banner .titles p {
      font-size: 22px;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      color: white;
      font-weight: 200; }
      .banner .banner-bg .txt-banner .titles p span {
        color: #fcb92d;
        font-weight: bold; }
    .banner .banner-bg .img-banner {
      margin-top: -30px; }
      .banner .banner-bg .img-banner img {
        width: 100%; }

.timeline {
  padding-top: 10vh; }
  .timeline .timeline-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.75) 100%), url("../img/client-bg.jpg") no-repeat;
    background-size: cover;
    height: 80vh; }
    .timeline .timeline-bg .titles {
      margin-bottom: 70px; }
      .timeline .timeline-bg .titles h2 {
        color: white; }
    .timeline .timeline-bg .text {
      text-align: center; }
      .timeline .timeline-bg .text .icon-text {
        margin: 0 auto;
        width: 41px;
        height: 41px;
        background: url("../img/coma.png");
        background-repeat: no-repeat; }
      .timeline .timeline-bg .text p {
        padding: 0 100px;
        font-size: 18px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: white; }
    .timeline .timeline-bg .logo {
      padding-top: 60px; }
      .timeline .timeline-bg .logo .column-logo {
        text-align: center; }
        .timeline .timeline-bg .logo .column-logo img {
          width: 90%; }
          .timeline .timeline-bg .logo .column-logo img:hover {
            opacity: .6; }
  .timeline .education {
    padding: 50px 0;
    margin: 50px 0; }
    .timeline .education .line {
      border-bottom: 1px dashed white;
      position: relative;
      margin: 0 18px;
      padding-bottom: 12px;
      margin-bottom: 24px;
      position: relative;
      top: -1px; }
      .timeline .education .line:before {
        display: block;
        content: '';
        width: 14px;
        height: 14px;
        background: #fff;
        border: 4px solid #fcb92d;
        border-radius: 100%;
        position: absolute;
        left: -18px;
        bottom: -7px; }
      .timeline .education .line:after {
        display: block;
        content: '';
        width: 14px;
        height: 14px;
        background: #fff;
        border: 4px solid #fcb92d;
        border-radius: 100%;
        position: absolute;
        right: -18px;
        bottom: -7px; }
    .timeline .education .item {
      width: 25%;
      float: left;
      position: relative;
      text-align: center;
      color: white;
      font-family: 'Yanone Kaffeesatz', sans-serif; }
      .timeline .education .item .year {
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        position: relative;
        bottom: -44px;
        left: 0;
        right: 0;
        margin: 0 auto;
        color: white; }
      .timeline .education .item .marker {
        width: 22px;
        height: 22px;
        background: #fff;
        border: 6px solid #fcb92d;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -11px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
        z-index: 2; }
      .timeline .education .item .content {
        background: rgba(155, 155, 155, 0.4);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
        padding: 24px;
        position: absolute;
        top: -132px;
        left: 0;
        right: 0;
        margin: 0 12px; }
        .timeline .education .item .content:after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 18px 0 0 18px;
          border-color: transparent transparent transparent transparent;
          box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
          position: absolute;
          bottom: -9px;
          left: 50%;
          margin-left: -9px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .timeline .education .item .content span {
          font-size: 13px;
          line-height: 26px;
          margin-bottom: 12px;
          text-transform: uppercase; }
        .timeline .education .item .content h4 {
          line-height: 26px;
          margin-bottom: 0; }
    .timeline .education .item:nth-child(even) .content {
      top: auto;
      bottom: -132px; }
    .timeline .education .item:nth-child(even) .content:after {
      border-width: 0 18px 18px 0;
      border-color: transparent transparent transparent transparent;
      box-shadow: none;
      position: absolute;
      top: -9px;
      bottom: auto; }
    .timeline .education .item:nth-child(even) .year {
      top: -44px;
      bottom: auto; }

.works {
  padding-top: 20vh; }
  .works .text .titles {
    text-align: right; }
    .works .text .titles h2 {
      padding-top: 30px;
      padding-bottom: 30px; }
    .works .text .titles p {
      font-size: 18px;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-weight: 200;
      padding-left: 30px; }

.carousel-control {
  top: 40% !important;
  height: 60px;
  width: 60px;
  opacity: .2; }

.carousel-control.left {
  background: rgba(0, 0, 0, 0.2);
  transform: rotate(45deg); }

.carousel-control.right {
  background: rgba(0, 0, 0, 0.2);
  transform: rotate(45deg); }

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  color: #fcb92d;
  transform: rotate(-45deg); }

.carousel-indicators {
  bottom: 0; }

.carousel-indicators li {
  border: 1px solid #DDD;
  background-color: #DDD; }

.carousel-indicators .active {
  background-color: #fcb92d !important;
  border: 1px solid #fcb92d; }

.contact .info {
  padding-top: 80px;
  padding-bottom: 180px; }
  .contact .info .col-md-4 .contact-item {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #111; }
    .contact .info .col-md-4 .contact-item .icons {
      width: 33px;
      height: 33px;
      position: absolute;
      top: 10px;
      left: 3px;
      color: #fff;
      text-align: center;
      line-height: 23px; }
      .contact .info .col-md-4 .contact-item .icons:before {
        content: " ";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.1);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .contact .info .col-md-4 .contact-item .icons .glyphicon {
        padding-top: 5px;
        font-size: 18px;
        color: #fcb92d; }
    .contact .info .col-md-4 .contact-item .title {
      padding-top: 0px;
      padding-left: 40px;
      margin-bottom: 1px;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.3em; }
    .contact .info .col-md-4 .contact-item .text {
      padding-top: 10px;
      padding-left: 40px;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.1em; }
  .contact .info .col-md-4:hover .contact-item .title {
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-animation: iconFloat 0.8s infinite linear;
    -moz-animation: iconFloat 0.8s infinite linear;
    -ms-animation: iconFloat 0.8s infinite linear;
    -o-animation: iconFloat 0.8s infinite linear;
    animation: iconFloat 0.8s infinite linear; }

#mapa {
  height: 400px;
  border-top: 4px solid #fcb92d;
  border-bottom: 6px solid white; }

footer {
  background: #fcb92d;
  border-top: 2px solid white;
  color: white;
  padding-bottom: 5px; }
  footer h5 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px; }
    footer h5:after {
      content: ".";
      color: black;
      font-size: 50px;
      padding-left: 5px; }
  footer p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 800;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase; }

@-webkit-keyframes iconFloat {
  0% {
    top: 0; }
  50% {
    top: 10px; }
  100% {
    top: 0; } }
@-moz-keyframes iconFloat {
  0% {
    top: 0; }
  50% {
    top: 10px; }
  100% {
    top: 0; } }
@-o-keyframes iconFloat {
  0% {
    top: 0; }
  50% {
    top: 10px; }
  100% {
    top: 0; } }
@keyframes iconFloat {
  0% {
    top: 0; }
  50% {
    top: 10px; }
  100% {
    top: 0; } }
/***************************************************************
****************************| SOCIAL ICONS |********************/
ul.social-icons {
  display: block;
  list-style-type: none;
  padding: 0;
  text-align: center; }
  ul.social-icons li {
    padding: 0;
    float: none;
    margin: 5px 0;
    text-align: center;
    display: inline-block; }
    ul.social-icons li a {
      background-image: url(../img/social-icons.png);
      background-repeat: no-repeat;
      float: left;
      display: block;
      width: 32px;
      height: 32px;
      -webkit-transition: border .2s ease;
      -moz-transition: border .2s ease;
      transition: border .2s ease; }

ul.social-icons.dark li a {
  background-image: url(../img/social-icons.png); }

ul.social-icons li.googlePlus a {
  background-position: 0 0; }

ul.social-icons li.facebook a {
  background-position: -30px 0; }

ul.social-icons li.twitter a {
  background-position: -60px 0; }

ul.social-icons li.pinterest a {
  background-position: -90px 0; }

ul.social-icons li.instagram a {
  background-position: -120px 0; }

ul.social-icons li.youtube a {
  background-position: -150px 0; }

ul.social-icons li.vimeo a {
  background-position: -180px 0; }

ul.social-icons li.flickr a {
  background-position: -210px 0; }

ul.social-icons li.linkedIn a {
  background-position: -240px 0; }

ul.social-icons li.googlePlus a:hover {
  background-position: 0 -30px;
  background-color: #ce2e1a;
  border: 1px solid #ce2e1a; }

ul.social-icons li.facebook a:hover {
  background-position: -30px -30px;
  background-color: #3c599b;
  border: 1px solid #3c599b; }

ul.social-icons li.twitter a:hover {
  background-position: -60px -30px;
  background-color: #55acee;
  border: 1px solid #55acee; }

ul.social-icons li.pinterest a:hover {
  background-position: -90px -30px;
  background-color: #cb2027;
  border: 1px solid #cb2027; }

ul.social-icons li.instagram a:hover {
  background-position: -120px -30px;
  background-color: #8d684e;
  border: 1px solid #8d684e; }

ul.social-icons li.youtube a:hover {
  background-position: -150px -30px;
  background-color: #c3181e;
  border: 1px solid #c3181e; }

ul.social-icons li.vimeo a:hover {
  background-position: -180px -30px;
  background-color: #5289cc;
  border: 1px solid #5289cc; }

ul.social-icons li.flickr a:hover {
  background-position: -210px -30px;
  background-color: #ea0e7b;
  border: 1px solid #ea0e7b; }

ul.social-icons li.linkedIn a:hover {
  background-position: -240px -30px;
  background-color: #0073b2;
  border: 1px solid #0073b2; }

@media screen and (max-width: 640px) {
  ul.social-icons {
    margin-top: 5px; } }
/*
@media all and (max-width: 768px) {
	.education {
		position: relative;
		padding: 0;
		margin: 18px 0;
		margin-bottom: 42px;
	}
	.education .item {
		width: 100%;
		float: none;
		margin-bottom: 24px;
	}
	.education .item:last-of-type {
		margin-bottom: 0;
	}
	.education .item .content {
		position: static;
	}
	.education .line {
		border-bottom: none;
		border-left: 1px dashed #232323;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 1px;
		margin: 0;
		padding: 0;
	}
	.education .line:before {
		top: -18px;
		bottom: -7px;
		left: -7px;
	}
	.education .line:after {
		right: auto;
		bottom: -18px;
		left: -7px;
	}
	.education .item .content {
		padding: 24px;
		position: static;
		margin: 0;
		margin-left: 36px;
	}
	.education .item .marker {
		position: absolute;
		top: 50%;
		left: 0;
		margin-left: -11px;
		margin-top: -27px;
	}
	.education .item .content:after {
		border-width: 18px 0 0 18px;
		border-color: transparent transparent transparent #fff;
		box-shadow: -1px 2px 2px rgba(0,0,0,.15);
		bottom: auto;
		left: 36px;
		top: 50%;
		margin-top: -25px;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.education .item:nth-child(even) .content:after {
		border-width: 18px 0 0 18px;
		border-color: transparent transparent transparent #fff;
		box-shadow: -1px 2px 2px rgba(0,0,0,.15);
		bottom: auto;
		left: 36px;
		top: 50%;
		margin-top: -25px;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.education .item .year {
		position: static;
		margin: 0 auto;
		padding-left: 36px;
		margin-top: 6px;
	}
}*/

/*# sourceMappingURL=style.css.map */
