//******************************************************************************
// DEFAULT
$primary: #fcb92d;

body {
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p, a, strong {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.parallax {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
}

.pattern {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,.9)0%, rgba(0,0,0,1) 100%),
      url("../img/pattern-01.png") repeat;
  opacity: 1;
}

.section {
  width: 100%;
  height: 100vh;
}

.titles {
  position: relative;
  margin-top: 15vh;
  font-size: 2em;
  text-align: right;
    strong {
      color: $primary;
    }
    &:after {
      content: ".";
      color: $primary;
      font-size: 50px;
      padding-left: 5px;
    }
}

.line {
  background: url("../img/title_line.png") no-repeat;
  width: 100%;
  height: 2px;
  position: absolute;
}

.line-education {
  margin-top: 8vh;
}

.texts {
  margin-top: 10vh;
  text-align: justify;
  font-weight: 300;
}

@media all and (max-width: 768px) {
  .titles {
    margin-top: 10vh;
  }
  .texts {
    margin-top: 4vh;
  }
}

//******************************************************************************
// NAVBAR
.navbar-brand {
    font-size: 1em;
    color: white !important;
    font-family: 'Ubuntu', sans-serif;
    span{
      color: $primary;
      font-weight: 800;
    }
    &:hover {
      color: white;
    }
}
.top-nav-collapse {
  background-color: rgba(0,0,0,.9);
}
.navbar .nav > li a {
    text-shadow: none;
    font-size: .8em;
    color: white;
    text-transform: uppercase; }
    .navbar .nav > li a:hover, .navbar .nav > li a:focus {
      background: none;
      box-shadow: none;
      color: $primary; }
  .navbar .nav > .active a,
  .navbar .nav > .active a:hover,
  .navbar .nav > .active a:focus {
    background: none;
    box-shadow: none;
    color: $primary; }

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
@media all and (max-width: 768px) {
  .navbar-toggle{
    border: 1px solid white;
    .icon-bar {
      background: $primary;
    }
  }
}

//******************************************************************************
// HOME / SLIDER
.home {
  position: relative;
  background-image: url('../img/bg-cover-1.jpg');
  background-size: cover;
  #text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40vh;
    color: white;
    h2 {
      text-transform: uppercase;
      font-size: 3.2em;
    }
    p {
      font-size: 1.2em;
      font-weight: 100;
    }
  }
}

@media all and (max-width: 768px) {
  .home {
    #text {
      padding: 0 20px;
      top: 30vh;
      h2 {
        font-size: 1.6em;
      }
    }
  }
}

//******************************************************************************
// ABOUT / SERVICES
.about {
  margin-bottom: 50px;
  #signature {
    padding-top: 30px;
    width: 100%;
    text-align: right;
    img {
      width: 40%;
    }
  }
  .texts {
    margin-top: 25vh;
  }
}
.tpl-progress {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-top: 10px;
  margin-bottom: 40px;
  overflow: visible;
  height: 2px;
  background: #F0F0F0;
  .progress-bar{
    padding-top: 2px;
    position: relative;
    overflow: visible;
    background: black;
    font-size: .8em;
    color: black;
    text-align: left;
    &> span{
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;

    }
  }
}

@media all and (max-width: 768px) {
  .about {
    margin-bottom: 0px;
    .texts {
      margin-top: 50px;
    }
  }
}

//******************************************************************************
// EDUCATION
.education {
  margin-bottom: 80px;
  .texts {
    margin-top: 7vh;
    .year {
      border-right: 1.5px solid black;
      margin-top: 1vh;
      text-align: center;
      h4 {
      }
      h3 {
        font-size: 4.4em;
        color: $primary;
      }
    }
    .descr {
      h4 {
        font-size: 1.4em;
        text-transform: uppercase;
      }
      p {
        font-size: .8em;
      }
    }

  }
}

//******************************************************************************
// PERFIL / BANNER
.perfil {
  padding-top: 15vh;
  .perfil-bg {
    background-image: url('../img/bg-cover-2.jpg');
    background-size: cover;
    height: 70vh;
    .txt-perfil {
      padding-top: 170px;
        p {
          font-size: 22px;
          font-family: 'Yanone Kaffeesatz', sans-serif;
          color: white;
          font-weight: 200;
          span {
            color: $primary;
            font-weight: bold;
          }
        }
    }
    .img-perfil {
      margin-top: -30px;
      img {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .perfil {
    padding-top: 2vh;
    .perfil-bg {
      height: 70vh;
      .txt-perfil {
        text-align: center;
        padding-top: 20px;
      }
      .img-perfil {
        margin-top: 20px;
      }
    }
  }
}

//******************************************************************************
// WORKS
.works {
  padding-top: 25vh;
  #text {
    .titles {
      margin-top: 10vh;
    }
    p {
      text-align: right;
      font-weight: 200;
    }
  }
}

.carousel-control {
  top: 40% !important;
  height: 60px;
  width: 60px;
  opacity: .2;
}

.carousel-control.left  {
  background: rgba(0,0,0,.2);
  transform: rotate(45deg);
}
.carousel-control.right {
  background: rgba(0,0,0,.2);
  transform: rotate(45deg);
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  color: $primary;
  transform: rotate(-45deg);
}
.carousel-control .glyphicon-chevron-left {
  top: 25px;
  left: 25px;
}
.carousel-control .glyphicon-chevron-right {
  top: 25px;
  right: 25px;
}
.carousel-indicators {
  bottom: 0;
}
.carousel-indicators li {
  border: 1px solid #DDD;
  background-color: #DDD;
}
.carousel-indicators .active {
  background-color: $primary !important;
  border: 1px solid $primary;
}

@media all and (max-width: 768px) {
  .carousel-control {
    display: none;
  }
  .works {
    padding-top: 10vh;
    #text {
      .titles {
        text-align: center;
        margin-top: 10px;
      }
      p {
        text-align: center;
        font-weight: 200;
      }
    }
  }
  .carousel-indicators {
    bottom: -20px;
  }
}

//******************************************************************************
// BANNER
.banner {
  height: 40vh;
  position: relative;
  background-image: url('../img/bg-cover-3.jpg');
  background-size: cover;
  h3 {
    padding-top: 100px;
    text-align: center;
    font-size: 1.6em;
    color: #DDD;
  }
}
@media all and (max-width: 768px) {
  .banner {
    h3 {
      padding-top: 60px;
      font-size: 1.4em;
    }
  }
}
//******************************************************************************
// CONTACT
.contact {
  .info {
    padding-top: 180px;
    padding-bottom: 180px;
    .col-md-4 {
      .contact-item {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: #111;
        .icons {
          width: 33px;
          height: 33px;
          position: absolute;
          top: 10px;
          left: 3px;
          color: #fff;
          text-align: center;
          line-height: 23px;
          &:before{
            content: " ";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0,0,0,.1);

            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);

          }
          .glyphicon {
            padding-top: 5px;
            font-size: 18px;
            color: $primary;
          }
        }
        .title {
          padding-top: 0px;
          padding-left: 40px;
          margin-bottom: 1px;
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.3em;
        }
        .text {
          padding-top: 10px;
          padding-left: 40px;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0.1em;
        }
      }
      &:hover .contact-item .title {
        display: block; margin: 0 auto; position: relative;
        -webkit-animation: iconFloat 0.8s infinite linear;
        -moz-animation: iconFloat 0.8s infinite linear;
        -ms-animation: iconFloat 0.8s infinite linear;
        -o-animation: iconFloat 0.8s infinite linear;
        animation: iconFloat 0.8s infinite linear;
      }
    }
  }
}

#mapa {
  height: 400px;
  border-top: 4px solid $primary;
  border-bottom: 6px solid white;
}

@media all and (max-width: 768px) {
  .contact {
    .info {
      padding-top: 40px;
      padding-bottom: 40px;
      .col-md-4 {
        .contact-item {
          padding-bottom: 40px;
        }
      }
    }
  }
}

//-----------------------------------------------------------------------
//---------------------|| FOOTER
footer {
  background: $primary;
  border-top: 2px solid white;
  color: white;
  padding-bottom: 5px;

  h5 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    &:after {
      content: ".";
      color: black;
      font-size: 50px;
      padding-left: 5px;
    }
  }
  p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 800;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
  }

}

@-webkit-keyframes iconFloat {
  0% { top: 0; }
  50% { top: 10px; }
  100% { top: 0; }
}
@-moz-keyframes iconFloat {
  0% { top: 0; }
  50% { top: 10px; }
  100% { top: 0; }
}
@-o-keyframes iconFloat {
  0% { top: 0; }
  50% { top: 10px; }
  100% { top: 0; }
}
@keyframes iconFloat {
  0% { top: 0; }
  50% { top: 10px; }
  100% { top: 0; }
}


/***************************************************************
****************************| SOCIAL ICONS |********************/
ul.social-icons {
  display: block;
  list-style-type: none;
  padding: 0;
  text-align: center;
  li {
    padding: 0;
    float: none;
    margin: 5px 0;
    text-align: center;
    display: inline-block;
    a {
      background-image: url(../img/social-icons.png);
      background-repeat: no-repeat;
      float: left;
      display: block;
      width: 32px;
      height: 32px;
      -webkit-transition: border .2s ease;
      -moz-transition: border .2s ease;
      transition: border .2s ease;
    }
  }

}
ul.social-icons.dark li a {
  background-image: url(../img/social-icons.png);
}
ul.social-icons li.googlePlus a { background-position: 0 0; }
ul.social-icons li.facebook a { background-position: -30px 0; }
ul.social-icons li.twitter a { background-position: -60px 0; }
ul.social-icons li.pinterest a { background-position: -90px 0; }
ul.social-icons li.instagram a { background-position: -120px 0; }
ul.social-icons li.youtube a { background-position: -150px 0; }
ul.social-icons li.vimeo a { background-position: -180px 0; }
ul.social-icons li.flickr a { background-position: -210px 0; }
ul.social-icons li.linkedIn a { background-position: -240px 0; }

ul.social-icons li.googlePlus a:hover {
  background-position: 0 -30px;
  background-color: #ce2e1a;
  border: 1px solid #ce2e1a;
}

ul.social-icons li.facebook a:hover {
  background-position: -30px -30px;
  background-color: #3c599b;
  border: 1px solid #3c599b;
}

ul.social-icons li.twitter a:hover {
  background-position: -60px -30px;
  background-color: #55acee;
  border: 1px solid #55acee;
}

ul.social-icons li.pinterest a:hover {
  background-position: -90px -30px;
  background-color: #cb2027;
  border: 1px solid #cb2027;
}

ul.social-icons li.instagram a:hover {
  background-position: -120px -30px;
  background-color: #8d684e;
  border: 1px solid #8d684e;
}

ul.social-icons li.youtube a:hover {
  background-position: -150px -30px;
  background-color: #c3181e;
  border: 1px solid #c3181e;
}

ul.social-icons li.vimeo a:hover {
  background-position: -180px -30px;
  background-color: #5289cc;
  border: 1px solid #5289cc;
}

ul.social-icons li.flickr a:hover {
  background-position: -210px -30px;
  background-color: #ea0e7b;
  border: 1px solid #ea0e7b;
}

ul.social-icons li.linkedIn a:hover {
  background-position: -240px -30px;
  background-color: #0073b2;
  border: 1px solid #0073b2;
}
@media screen and (max-width: 640px){
  ul.social-icons {
    margin-top: 5px;
  }
}
